*{
    margin: 0;
    padding: 0;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(23, 131, 255);
    font-size: 100px;
    width: 600;
    text-align: center;
    margin: 0;
    background-color: rgb(228, 228, 228);
    padding: 10%;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    color: rgb(70, 68, 68);
    text-align: center;
    padding-top: 5%;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    color: rgb(75, 75, 75);
    text-align: center;
    padding: 3% 20%;
    line-height: 150%;   
}

a{
    color: rgb(211, 57, 159);
    text-decoration: none; 
}

a:hover{
    text-decoration: underline;
    color: rgb(28, 125, 253);
}

mark {
    background: #ffec82;
    padding: 0 3px;
   }




